<!-- ======= Portfolio Section ======= -->
<style>
    .myButton2 {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:center;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton2:active {
	position:relative;
}
</style>
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Popular</h2>
      <h3>Check our <span>Popular Market</span></h3>
      <p>Here are the top 9 highly rated restaurants</p>
    </div>

    {% for r in seochono %}
    <div class="row portfolio-container">
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="static/assets/img/market/{{r.seochono}}.jpg" class="img-fluid" alt="{{r.marketname}}" width="800px" height="600px">
        <div class="portfolio-info">
          <h4>{{r.marketname}}</h4>
          <button class="myButton2" onclick="location.href ='/market/menu/{{r.seochono}}'">메뉴보기</button>
          <button class="myButton2" onclick="location.href ='/review/reviewlist/{{r.seochono}}'">리뷰보기</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section><!-- End Portfolio Section -->