{% load static %}
 <style>
    .card-columns {
    column-count: 3;
    }
</style>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Saw Well</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="active" href="/market/{{name.categoriname}}">{{name.categoriname}}</a></li>
          <li><a class="nav-link scrollto" href="/review/reviewlist">review</a> </li>
          <li><a class="active" href="/market/menu">menu</a> </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">g
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-10 mx-auto col-12 text-center mb-3">
                    <center><h1 class="mt-0 text-primary">Our Menu</h1></center>
                </div>
                {% for objs in menu_list %}
                <div class="card-columns">
                    <div class="card card-body">
                        <span class="float-right font-weight-bold">{{objs.name}}</span>
                        <br>
                        <h6 class="text-underline">가격 : {{objs.price}}</h6>
                    </div>
                </div>
                {% endfor %}
        </div>


    </section>
  </main><!-- End #main -->