{% load static %}
<script>
function toggle_div(id) {
     var e = document.getElementById(id);
     e.style.display = ((e.style.display!='none') ? 'none' : 'block');
}
</script>
<style>
  body{
    margin-top:20px;
    background:#eee;
    color: #708090;
}
.icon-1x {
    font-size: 24px !important;
}
a{
    text-decoration:none;
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
}
.container-md{
  display:table;
  width:1300px;
  height:70px;
  margin-bottom:10px;
  padding:10px;

}
</style>
<body>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>market_name</li>
          <li>review</li>
        </ol>
        <h2>Review</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry">

              <h2 class="entry-title">
                <a href="blog-single.html">Market_name</a>
              </h2>
              <h4>user_id</h4>
                  <form action="reviewimpl" method="post">
                      {% csrf_token %}
                      별점<input type="number" name="star" min="1" max="5"><br>
                      <br>
                      평가<input type="text" name="content" style="width:400px;height:100px;font-size:10px;"><br>
                      <br>
                    <input type="submit" value="register">
                  </form>

            </article>
          </div>
        </div>
      </div>

      <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<div class="container">
      <div class="row">
        <!-- Main content -->
        <div class="col-lg-9 mb-3">
          <div class="row text-left mb-5">
            <div class="col-lg-6 mb-3 mb-sm-0">
              <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" style="width: 100%;">
              <select class="form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" data-toggle="select" tabindex="-98">
                <option> Categories </option>
                <option> Learn </option>
                <option> Share </option>
                <option> Build </option>
              </select>
              </div>
            </div>
            <div class="col-lg-6 text-lg-right">
              <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50" style="width: 100%;">
                  <select class="form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50" data-toggle="select" tabindex="-98">
                    <option> Filter by </option>
                    <option> Votes </option>
                    <option> Replys </option>
                    <option> Views </option>
                  </select>
              </div>
            </div>
          </div>
<!--post1-->
      <div class="container-md">
           <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a href="#" class="text-primary">User_id</a>
                </h5>
                <p class="text-sm"><a class="text-black" href="#">review</a></p>
                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">별점: </a></div>
              </div>
              <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                  <button class="col px-1" onclick="toggle_div('reply1')"> <i class="ion-ios-chatboxes-outline icon-1x" ></i> <span class="d-block text-sm">Replys</span> </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /post4 toggle/ -->
      <div class="container-md">
          <div id="reply1" style="display: none">
            <h3>REPLY</h3>
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a href="#" class="text-primary">ceo</a>
                </h5>
                <p class="text-sm"><a class="text-black" href="#">reply</a></p></div>
              </div>
            </div>
          </div>
            <button onclick="toggle_div('reply_write1')">write reply</button>
            <div id="reply_write1" style="display: none">
              <form action="replyimpl" method="post">
                {% csrf_token %}
                <br>
                reply:<input type="text" name="reply" style="width:400px;height:100px;font-size:10px;"><br>
                <br>
                <input type="submit" value="register">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--/post1-->
<!--post2-->
      <div class="container-md">
           <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a href="#" class="text-primary">User_id</a>
                </h5>
                <p class="text-sm"><a class="text-black" href="#">review</a></p>
                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">별점: </a></div>
              </div>
              <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                  <button class="col px-1" onclick="toggle_div('reply2')"> <i class="ion-ios-chatboxes-outline icon-1x" ></i> <span class="d-block text-sm">Replys</span> </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /post4 toggle/ -->
      <div class="container-md">
          <div id="reply2" style="display: none">
            <h3>REPLY</h3>
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a href="#" class="text-primary">ceo</a>
                </h5>
                <p class="text-sm"><a class="text-black" href="#">reply</a></p></div>
              </div>
            </div>
          </div>
            <button onclick="toggle_div('reply_write2')">write reply</button>
            <div id="reply_write2" style="display: none">
                <form action="replyimpl" method="post">
                  {% csrf_token %}
                  <br>
                  reply:<input type="text" name="reply" style="width:400px;height:100px;font-size:10px;"><br>
                  <br>
                  <input type="submit" value="register">
                </form>
            </div>
          </div>

<!--/post2-->

<!--post3-->
      <div class="container-md">
           <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a href="#" class="text-primary">User_id</a>
                </h5>
                <p class="text-sm"><a class="text-black" href="#">review</a></p>
                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">별점: </a></div>
              </div>
              <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                  <button class="col px-1" onclick="toggle_div('reply3')"> <i class="ion-ios-chatboxes-outline icon-1x" ></i> <span class="d-block text-sm">Replys</span> </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /post4 toggle/ -->
      <div class="container-md">
          <div id="reply3" style="display: none">
            <h3>REPLY</h3>
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a href="#" class="text-primary">ceo</a>
                </h5>
                <p class="text-sm"><a class="text-black" href="#">reply</a></p></div>
              </div>
            </div>
          </div>
            <button onclick="toggle_div('reply_write3')">write reply</button>
            <div id="reply_write3" style="display: none">
                <form action="replyimpl" method="post">
                  {% csrf_token %}
                  <br>
                  reply:<input type="text" name="reply" style="width:400px;height:100px;font-size:10px;"><br>
                  <br>
                  <input type="submit" value="register">
                </form>
            </div>
          </div>

<!--/post3-->

          <!-- ************End of post 3*************** -->

      <div class="container-md">
           <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a href="#" class="text-primary">User_id</a>
                </h5>
                <p class="text-sm"><a class="text-black" href="#">review</a></p>
                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">별점: </a></div>
              </div>
              <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                  <button class="col px-1" onclick="toggle_div('reply4')"> <i class="ion-ios-chatboxes-outline icon-1x" ></i> <span class="d-block text-sm">Replys</span> </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /post4 toggle/ -->
      <div class="container-md">
          <div id="reply4" style="display: none">
            <h3>REPLY</h3>
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
            <div class="row align-items-center">
              <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                  <a href="#" class="text-primary">ceo</a>
                </h5>
                <p class="text-sm"><a class="text-black" href="#">reply</a></p></div>
              </div>
            </div>
          </div>
            <button onclick="toggle_div('reply_write4')">write reply</button>
            <div id="reply_write4" style="display: none">
                <form action="replyimpl" method="post">
                  {% csrf_token %}
                  <br>
                  reply:<input type="text" name="reply" style="width:400px;height:100px;font-size:10px;"><br>
                  <br>
                  <input type="submit" value="register">
                </form>
            </div>
          </div>
          <!-- ************End of post 4*************** -->

    </section>
  </main><!-- End #main -->
