<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry">
          <h2 class="entry-title">
            <a href="blog-single.html">ID 찾기</a>
          </h2>
          <div class="entry-content">
            <form action="/idfind" method="get" role="form" class="php-email-form">
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
              </div>
              <br>
              <div class="text-center"><button type="submit">가입 여부 확인</button></div><br>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>