<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry">
          <h2 class="entry-title">
            <span>찾은 결과</span><br><br>
            <span>ID : {{Find_id}}</span>
          </h2>
          <div class="entry-content">
            <div style="display: inline-block" class="text-center"><button><a href="/identify/login">login</a></button></div>
            <div style="display: inline-block" class="text-center"><button><a href="/">home</a></button></div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>